<div class="mainMenu">
<%= render :partial => 'layouts/admin/sys/menu', :locals => {:current => :address} %>
</div>

<div class="contentMenu">
  <%= render :partial => 'layouts/admin/sys/navi/address', :locals => {:current => :public_address_book_role} %>
</div>
